header {
    background-color: #d01f25;
    width: 17%;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    height: 100%;
}

main {
    background-color: #202020;
    width: 83%;
    height: 100vh;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    margin-right: 70px;
}

.timeline {
    /* Used to position the left vertical line */
    position: relative;
    width: 80%;
    height: 100vh;
    margin-left: 5%;
    margin-top: 10%;
}

.timeline__line {
    /* Border */
    border-right: 2px solid #d1d5db;

    /* Positioned at the left */
    left: 0.75rem;
    position: absolute;
    top: 0px;

    /* Take full height */
    height: 100%;
}

.timeline__items {
    /* Reset styles */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.timeline__item {
    margin-bottom: 8px;
}

.timeline__top {
    /* Center the content horizontally */
    align-items: center;
    display: flex;
}

.timeline__circle {
    /* Rounded border */
    background-color: #d01f25;
    border-radius: 9999px;

    /* Size */
    height: 1.5rem;
    width: 1.5rem;
    z-index: 1;
}

.timeline__title {
    /* Take available width */
    flex: 1;
    margin-left: 0.5rem;
    color: white;
}

.timeline__desc {
    /* Make it align with the title */
    margin-left: 2rem;
    color: white;
}